
<div ng-controller="displayMapController">
    @*displayMapController*@

    <div class="row" ng-init="init()">

        <div id='map' style='width:100%; height: 1000px;'></div>
    </div>

    



</div>
