<style>
    .node {
        cursor: pointer;
    }

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 3px;
        }

        .node text {
            font: 12px sans-serif;
        }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 2px;
    }

    .title {
        font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    #myModal2 .modal-dialog {
        width: 75%;
    }
    .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}
</style>

<div id="myModal2" class="modal fade" ng-controller="dataCtrl">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Detail of Service</h4>

                </div>
                <div class="modal-body">
                    <div>
                        @*dataController*@
                        <input type="hidden" class="areaId" id="areaId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div id="tree-diagram"></div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    
</div>

<div ng-controller="myCtrl">
    @*mapController*@


    @*map*@
    <div class="row" ng-init="init()">

        <div id='map' style='width:100%; height: 1000px;'></div>
    </div>


    <div id="myModal1" class="modal fade">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog  vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">List of Services ({{AreaName}})</h4>

                    </div>
                    <div class="modal-body">
                        <ul>
                            <li ng-repeat="x in listServices">
                                <a href="#" ng-click="gotoService(x.id)">{{x.name}}</a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-remove" ng-click="removeService(x.id)"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-off" ng-click="updateStatus(x.id)"></span>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="modal-footer">
                        <div class="row ">
                            <div class="col-md-4 text-left">
                                @*<button type="button" class="btn btn-success" ng-click="addNewService(AreaId)">Add Service</button>*@
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    Add Service
                                </button>

                            </div>
                        </div>

                        <div class="collapse in" id="collapseExample">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1" style="text-align:left;margin-left:0px">Service Name:</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name Here..." ng-model="serviceName">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Add Equipment:</label>
                                            <select class="form-control" id="exampleFormControlSelect1" data-ng-repeat="choice in choices" ng-model="choice.name">
                                                <option ng-repeat="opt in obj.equipments" value="{{opt.name}}">{{opt.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-danger" ng-click="removeChoice()">-</button>
                                            <button type="submit" class="btn btn-success" ng-click="addNewChoice()">+</button>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary" ng-click="addNewService()">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        
    </div>



</div>
